.cardTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;
    width: 100%;
}

.cardTitle:hover {
    color:var(--orange);
}